@import "./apps/keep/keep-main.css";
@import "./apps/mail/mail-main.css";
@font-face {
    src: url(../../../fonts/fa-solid-900.ttf);
    font-family: awesome;
}

@font-face {
    src: url(/fonts/Roboto-Regular.ttf);
    font-family: Roboto-Regular;
}

@font-face {
    src: url(/fonts/Roboto-Thin.ttf);
    font-family: Roboto-Thin;
}

* {
    box-sizing: border-box;
    font-family: Roboto-Thin;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Roboto-Regular;
}

body {
    margin: 0;
}

.main-container {
    /* display: flex; */
}

.app-footer {
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0;
    /* background-color: rgb(255, 178, 71); */
    text-align: center;
}


/* HOME-PAGE */

.home-page img {
    height: 100%;
    /* background-image: url('../../img/bg/bg-img5.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/* APP-HEADER */

.app-header {
    height: 60px;
    position: absolute;
    z-index: 2;
}

.app-header img {
    width: 60px;
    position: absolute;
    left: 10px;
    top: 5px;
}

.menu-icon {
    font-size: 2.75rem;
    margin-top: 7px;
}


/* NAV BAR HEADER */

.nav-bar-header {
    background-color: rgb(244, 244, 244);
    width: 250px;
    height: 250px;
    position: absolute;
    left: 3px;
    top: 70px;
    border-radius: 10px;
}


/* USER MSG */

.user-msg {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: #fff;
}