* {
    list-style: none;
}

.marked {
    font-weight: bold;
}

h1 {
    margin: 0;
}


/* Layout */

.main-layout {
    max-width: 1044px;
    margin: 0 auto;
    padding-right: 0;
    padding-left: 0;
}


/* MAIL HEADER */

.mail-header {
    text-align: center;
    height: 80px;
    background-color: rgb(255, 178, 71);
}


/* MAIL SIDE NAVBAR */

.mail-nav-bar {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 250px;
    grid-column: 1/2
}

.basic-btn {
    margin: 6px;
    background-color: unset;
    border: hidden;
    cursor: pointer;
    height: 30px;
}

.compose-btn {
    border: 2px solid rgb(223, 223, 223);
    border-radius: 20px;
    height: 40px;
    cursor: pointer;
}

.mail-nav-bar button:hover {
    background-color: rgba(255, 183, 183, 0.489);
}


/* MAIL BODY */

.mail-app-body {
    padding: 10px;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 30px 80vh;
}


/* mail-filter */

.mail-filter {
    background-color: unset;
}


/* MAIL LI */

.mail-li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(213, 213, 213);
    height: 40px;
    padding: 8px;
    margin: 0;
    margin-bottom: 3px;
}

.mail-li span {
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.mail-li:hover {
    background-color: rgba(211, 211, 211, 0.701);
}

.mail-li img {
    width: 30px;
}

.mail-li button {
    border: unset;
    background-color: unset;
}


/* mail-details */

.mail-details {
    padding: 20px;
}


/* MAIL-COMPOSE */

.mail-compose input {
    width: 100%;
    margin-bottom: 5px;
    border: unset;
    border-bottom: 1px solid rgb(216, 216, 216);
}

.mail-compose textarea {
    height: 400px;
    width: 100%;
    resize: none;
    border: 1px solid rgb(216, 216, 216)
}


/* mail-details */

.mail-details img {
    width: 100%;
}

@media (max-width: 650px) {
    .main-layout {
        max-width: 500px;
    }
    .mail-app-body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 80vh;
        margin: 0;
    }
    .mail-nav-bar {
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
        grid-row: 1/2
    }
    .mail-li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgb(213, 213, 213);
        height: 80px;
        padding: 8px;
        margin: 0;
        margin-bottom: 3px;
    }
}